<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/bundles/sonatacore/vendor/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <div class="row">


        <div class="col-md-4"></div>
        <div class="col-xs-12 col-md-4" align="center">
            {% if app.request.hasPreviousSession %}
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="flash-{{ type }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}


            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    </div>
</div>
<script src="/bundles/sonatacore/vendor/jquery/dist/jquery.min.js"></script>
<script src="/bundles/sonatacore/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
